:root {
    --secondary-color: #c89f64;
    --primary-color: #000000;
    --background-color: #ffffff;
}

.dark-mode {
    --background-color: #000000;
    --primary-color: #ffffff;
    --secondary-color: #c89f64;
}

.dark-mode .dropdown__link.seijou:hover {
    background-color: var(--blue-seijou);
}