:root {
    --secondary-color: #40e0d0;
    --primary-color: #2baba1;
    --background-color: #f3f5f5;
}

.dark-mode {
    --background-color: #141414;
    --primary-color: #40e0d0;
    --secondary-color: #f3f5f5;
}